<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">

    <php>
        <env name="API_TEST_URL" value="https://api-test.wirecard.com"/>
        <env name="API_HTTP_USER" value="70000-APITEST-AP"/>
        <env name="API_HTTP_PASSWORD" value="qD2wzQ_hrc!8"/>
    </php>

    <testsuites>
        <testsuite name="Wirecard Magento 1 EE Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">*</directory>
            <exclude>
                <directory suffix=".php">./tests</directory>
                <directory>./lib/WirecardEE/vendor</directory>
                <directory>./app/code/community/WirecardEE/PaymentGateway/sql</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
