<?xml version="1.0"?>
<!--
 * Shop System Plugins:
 * - Terms of Use can be found under:
 * https://github.com/wirecard/magento-ee/blob/master/_TERMS_OF_USE
 * - License can be found under:
 * https://github.com/wirecard/magento-ee/blob/master/LICENSE
-->
<config>
    <modules>
        <WirecardEE_PaymentGateway>
            <version>1.1.0</version>
        </WirecardEE_PaymentGateway>
    </modules>

    <global>
        <helpers>
            <paymentgateway>
                <class>WirecardEE_PaymentGateway_Helper</class>
            </paymentgateway>
        </helpers>

        <blocks>
            <paymentgateway>
                <class>WirecardEE_PaymentGateway_Block</class>
            </paymentgateway>
            <adminhtml>
                <rewrite>
                    <page_head>WirecardEE_PaymentGateway_Block_Head</page_head>
                </rewrite>
            </adminhtml>
        </blocks>

        <models>
            <paymentgateway>
                <class>WirecardEE_PaymentGateway_Model</class>
            </paymentgateway>
        </models>

        <events>
            <controller_front_init_before>
                <observers>
                    <wirecard_ee_composer_autoload>
                        <type>singleton</type>
                        <class>paymentgateway/observer</class>
                        <method>controllerFrontInitBefore</method>
                    </wirecard_ee_composer_autoload>
                </observers>
            </controller_front_init_before>

            <sales_order_payment_cancel>
                <observers>
                    <wirecard_ee_cancel>
                        <type>singleton</type>
                        <class>paymentgateway/backendOperation</class>
                        <method>cancel</method>
                    </wirecard_ee_cancel>
                </observers>
            </sales_order_payment_cancel>

            <sales_order_invoice_pay>
                <observers>
                    <wirecard_ee_capture>
                        <type>singleton</type>
                        <class>paymentgateway/backendOperation</class>
                        <method>capture</method>
                    </wirecard_ee_capture>
                </observers>
            </sales_order_invoice_pay>

            <sales_order_payment_refund>
                <observers>
                    <wirecard_ee_refund>
                        <type>singleton</type>
                        <class>paymentgateway/backendOperation</class>
                        <method>refund</method>
                    </wirecard_ee_refund>
                </observers>
            </sales_order_payment_refund>

            <controller_action_predispatch>
                <observers>
                    <wirecard_ee_check_session_messages>
                        <type>singleton</type>
                        <class>paymentgateway/backendOperation</class>
                        <method>checkSessionMessages</method>
                    </wirecard_ee_check_session_messages>
                </observers>
            </controller_action_predispatch>
        </events>

        <resources>
            <paymentgateway_setup>
                <setup>
                    <module>WirecardEE_PaymentGateway</module>
                </setup>
            </paymentgateway_setup>
        </resources>
    </global>

    <default>
        <wirecardee_paymentgateway>
            <settings>
                <notify_mail></notify_mail>
                <!--<pending_mail>0</pending_mail>-->
                <delete_cancelled_orders>0</delete_cancelled_orders>
            </settings>
        </wirecardee_paymentgateway>
        <payment>
            <wirecardee_paymentgateway_paypal>
                <active>0</active>
                <model>paymentgateway/paypal</model>
                <title>Wirecard PayPal</title>
                <api_url>https://api-test.wirecard.com</api_url>
                <api_user>70000-APITEST-AP</api_user>
                <api_password>qD2wzQ_hrc!8</api_password>
                <api_maid>2a0e9351-24ed-4110-9a1b-fd0fee6bec26</api_maid>
                <api_secret>dbc5a498-9a66-43b9-bf1d-a618dd399684</api_secret>
                <transaction_type>pay</transaction_type>
                <send_basket>1</send_basket>
                <fraud_prevention>1</fraud_prevention>
                <order_identification>1</order_identification>
                <sort_order>26</sort_order>
            </wirecardee_paymentgateway_paypal>
            <wirecardee_paymentgateway_creditcard>
                <active>0</active>
                <model>paymentgateway/creditcard</model>
                <title>Wirecard Credit Card</title>
                <api_url>https://api-test.wirecard.com</api_url>
                <api_user>70000-APITEST-AP</api_user>
                <api_password>qD2wzQ_hrc!8</api_password>
                <api_maid>53f2895a-e4de-4e82-a813-0d87a10e55e6</api_maid>
                <api_secret>dbc5a498-9a66-43b9-bf1d-a618dd399684</api_secret>
                <threeds_maid>508b8896-b37d-4614-845c-26bf8bf2c948</threeds_maid>
                <threeds_secret>dbc5a498-9a66-43b9-bf1d-a618dd399684</threeds_secret>
                <transaction_type>pay</transaction_type>
                <fraud_prevention>1</fraud_prevention>
                <order_identification>1</order_identification>
                <ssl_max_limit>300</ssl_max_limit>
                <ssl_max_limit_currency>EUR</ssl_max_limit_currency>
                <three_d_min_limit>100</three_d_min_limit>
                <three_d_min_limit_currency>EUR</three_d_min_limit_currency>
                <sort_order>1</sort_order>
            </wirecardee_paymentgateway_creditcard>
            <wirecardee_paymentgateway_sepadirectdebit>
                <active>0</active>
                <model>paymentgateway/sepadirectdebit</model>
                <title>Wirecard SEPA Direct Debit</title>
                <api_url>https://api-test.wirecard.com</api_url>
                <api_user>16390-testing</api_user>
                <api_password>3!3013=D3fD8X7</api_password>
                <api_maid>933ad170-88f0-4c3d-a862-cff315ecfbc0</api_maid>
                <api_secret>ecdf5990-0372-47cd-a55d-037dccfe9d25</api_secret>
                <transaction_type>pay</transaction_type>
                <fraud_prevention>1</fraud_prevention>
                <order_identification>1</order_identification>
                <show_bic>0</show_bic>
                <creditor_id>DE98ZZZ09999999999</creditor_id>
                <creditor_name></creditor_name>
                <creditor_street></creditor_street>
                <creditor_zip></creditor_zip>
                <creditor_city></creditor_city>
                <creditor_country></creditor_country>
                <sort_order>33</sort_order>
            </wirecardee_paymentgateway_sepadirectdebit>
            <wirecardee_paymentgateway_sepacredit>
                <api_maid>59a01668-693b-49f0-8a1f-f3c1ba025d45</api_maid>
                <api_secret>ecdf5990-0372-47cd-a55d-037dccfe9d25</api_secret>
                <creditor_id>DE98ZZZ09999999999</creditor_id>
            </wirecardee_paymentgateway_sepacredit>
            <wirecardee_paymentgateway_sofortbanking>
                <active>0</active>
                <model>paymentgateway/sofortbanking</model>
                <title>Wirecard Sofort.</title>
                <api_url>https://api-test.wirecard.com</api_url>
                <api_user>16390-testing</api_user>
                <api_password>3!3013=D3fD8X7</api_password>
                <api_maid>6c0e7efd-ee58-40f7-9bbd-5e7337a052cd</api_maid>
                <api_secret>dbc5a498-9a66-43b9-bf1d-a618dd399684</api_secret>
                <fraud_prevention>1</fraud_prevention>
                <sort_order>36</sort_order>
            </wirecardee_paymentgateway_sofortbanking>
            <wirecardee_paymentgateway_zapp>
                <active>0</active>
                <model>paymentgateway/paybybankapp</model>
                <title>Wirecard Pay by Bank app</title>
                <api_url>https://api-test.wirecard.com</api_url>
                <api_user>70000-APITEST-AP</api_user>
                <api_password>qD2wzQ_hrc!8</api_password>
                <api_maid>70055b24-38f1-4500-a3a8-afac4b1e3249</api_maid>
                <api_secret>4a4396df-f78c-44b9-b8a0-b72b108ac465</api_secret>
                <send_basket>1</send_basket>
                <fraud_prevention>1</fraud_prevention>
                <sort_order>40</sort_order>
            </wirecardee_paymentgateway_zapp>
            <wirecardee_paymentgateway_eps>
                <active>0</active>
                <model>paymentgateway/eps</model>
                <title>Wirecard eps-Überweisung</title>
                <api_url>https://api-test.wirecard.com</api_url>
                <api_user>16390-testing</api_user>
                <api_password>3!3013=D3fD8X7</api_password>
                <api_maid>1f629760-1a66-4f83-a6b4-6a35620b4a6d</api_maid>
                <api_secret>20c6a95c-e39b-4e6a-971f-52cfb347d359</api_secret>
                <fraud_prevention>1</fraud_prevention>
                <order_identification>1</order_identification>
                <sort_order>9</sort_order>
            </wirecardee_paymentgateway_eps>
            <wirecardee_paymentgateway_giropay>
                <active>0</active>
                <model>paymentgateway/giropay</model>
                <title>Wirecard Giropay</title>
                <api_url>https://api-test.wirecard.com</api_url>
                <api_user>16390-testing</api_user>
                <api_password>3!3013=D3fD8X7</api_password>
                <api_maid>9b4b0e5f-1bc8-422e-be42-d0bad2eadabc</api_maid>
                <api_secret>0c8c6f3a-1534-4fa1-99d9-d1c644d43709</api_secret>
                <fraud_prevention>1</fraud_prevention>
                <order_identification>1</order_identification>
                <sort_order>11</sort_order>
            </wirecardee_paymentgateway_giropay>
            <wirecardee_paymentgateway_ideal>
                <active>0</active>
                <model>paymentgateway/ideal</model>
                <title>Wirecard iDEAL</title>
                <api_url>https://api-test.wirecard.com</api_url>
                <api_user>16390-testing</api_user>
                <api_password>3!3013=D3fD8X7</api_password>
                <api_maid>4aeccf39-0d47-47f6-a399-c05c1f2fc819</api_maid>
                <api_secret>dbc5a498-9a66-43b9-bf1d-a618dd399684</api_secret>
                <fraud_prevention>1</fraud_prevention>
                <order_identification>1</order_identification>
                <sort_order>21</sort_order>
            </wirecardee_paymentgateway_ideal>
            <wirecardee_paymentgateway_maestro>
                <active>0</active>
                <model>paymentgateway/maestro</model>
                <title>Wirecard Maestro SecureCode</title>
                <api_url>https://api-wdcee-test.wirecard.com</api_url>
                <api_user>plugin-test</api_user>
                <api_password>4-41N4\lI0]783</api_password>
                <api_maid>4945f0ef-51e0-43af-972f-885405320842</api_maid>
                <api_secret>822e87ea-dcc3-4d01-861c-e39f14a0ab6c</api_secret>
                <transaction_type>pay</transaction_type>
                <fraud_prevention>1</fraud_prevention>
                <order_identification>1</order_identification>
                <sort_order>22</sort_order>
            </wirecardee_paymentgateway_maestro>
        </payment>
    </default>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <WirecardEE_PaymentGateway after="Mage_Adminhtml">WirecardEE_PaymentGateway_Adminhtml</WirecardEE_PaymentGateway>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <WirecardEE_PaymentGateway>
                    <file>WirecardEE/payment_gateway.xml</file>
                </WirecardEE_PaymentGateway>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <wirecardee_custom_order_view_info>
                        <class>paymentgateway/adminobserver</class>
                        <method>getSalesOrderViewInfo</method>
                    </wirecardee_custom_order_view_info>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <translate>
            <modules>
                <WirecardEE_Paymentgateway>
                    <files>
                        <default>WirecardEE_PaymentGateway.csv</default>
                    </files>
                </WirecardEE_Paymentgateway>
            </modules>
        </translate>
    </adminhtml>

    <frontend>
        <routers>
            <paymentgateway>
                <use>standard</use>
                <args>
                    <module>WirecardEE_PaymentGateway</module>
                    <frontName>paymentgateway</frontName>
                </args>
            </paymentgateway>
        </routers>

        <layout>
            <updates>
                <paymentgateway>
                    <file>wirecardee_paymentgateway.xml</file>
                </paymentgateway>
            </updates>
        </layout>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <wirecard_ee_reviewfield>
                        <type>model</type>
                        <class>paymentgateway/observer</class>
                        <method>checkoutTypeOnepageSaveOrder</method>
                    </wirecard_ee_reviewfield>
                </observers>
            </checkout_type_onepage_save_order>
        </events>
        <translate>
            <modules>
                <WirecardEE_PaymentGateway>
                    <files>
                        <default>WirecardEE_PaymentGateway.csv</default>
                    </files>
                </WirecardEE_PaymentGateway>
            </modules>
        </translate>
    </frontend>
</config>
